
@font-face {
  font-family: 'CheeeDemo-Baby';
  src:    url('/fonts/CheeeDemo-Baby.eot');
  src:    url('/fonts/CheeeDemo-Baby.woff') format("woff"),
  url('/fonts/CheeeDemo-Baby.woff') format("eot"),
  url('/fonts/CheeeDemo-Baby.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #FADDC6;
}


h1{
  font-family: 'CheeeDemo-Baby';
  font-size: 15vh;
  color: black;
  text-align: center;
}

.baby{
  font-family: 'CheeeDemo-Baby';
  color: white;
  /* color: #FF3CC7; */
  font-size: 15vh;
  
}

.cobra{
  font-family: 'CheeeDemo-Baby';
  color: white;
  /* color: #F95738; */
  font-size: 15vh;
}

section{
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid black;
}